body {
    margin: 0;
}

.large {
    font-size: 70px;
}

.font_times {
    font-family: "Times New Roman", Times;
}

.bold {
    font-weight: 900;
}

.errorbutton {
    height: 0px;
    width: 0px;
}

.content {
    position: relative;
    top: 0px;
}

.custom-navbar {

    background-color: #89CFF0;
}

.main_title {
    position: absolute;
    top: 100px;
    left: 50px;
    color: #A7C7E7;
    height: 250px;
    text-shadow: 2px 2px 4px rgba(0,0,0);
}

.welcome {
    position: absolute;
    top: 300px;
    left: 55px;
    font-weight: 900;
    font-size: 25px;
    color: #9FE2BF;
    width: 850px;
    font-family: "Mulish", sans-serif;
}

.rectangle1 {
    margin-top: 0px;
    background-color: #00008B;
    height: 700px;
}

.circle1 {
    position: absolute;
    left: -200px;
    width: 400px;
    height: 400px;
    background-color: #6F8FAF;
    border-radius: 50%;
}

.music_circle {
    position: absolute;
    left: 950px;
    top: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #6F8FAF;
    border: none;
}

.treble_clef {
    position: absolute;
    top: -12px;
    left: 25px;
}

.plane_circle {
    position: absolute;
    left: 1290px;
    top: 90px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #6F8FAF;
    border: none;
}

.jet {
    position: absolute;
    top: 5px;
    left: 35px;
}

.code_circle {
    position: absolute;
    left: 1090px;
    top: 350px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #6F8FAF;
    border: none;
}

.code_symbol {
    position: absolute;
    left: 25px;
    top: 17px;
}

.rectangle2 {
    background-color: #B6D0E2;
    height: 700px;
}

#about-me {
    position: absolute;
    top: 800px;
    left: 50px;
    font-weight: 900;
    color: #4169E1;
    font-size: 72px;
    font-family: "Times New Roman", times;
    text-shadow: 2px 2px 4px rgba(0,0,0.4);
}

.musicstudio-button {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: none;
}

.about-me-p1 {
    position: absolute;
    top: 950px;
    left: 50px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #40826D;
    width: 1000px;
}

.sub-leaf1 {
    position: absolute;
    background-color: #93C572;
    top: 900px;
    left: 1300px;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 175px;
}

.sub-leaf2 {
    position: absolute;
    background-color: #009E60;
    top: 900px;
    left: 1200px;
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 175px;
}

.sub-leaf3 {
    position: absolute;
    background-color: #4F7942;
    top: 800px;
    left: 1200px;
    width: 100px;
    height: 100px;
    border-bottom-left-radius: 175px;
    border-top-right-radius: 300px;
}

.sub-leaf4 {
    position: absolute;
    background-color: #40826D;
    top: 800px;
    left: 1300px;
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 175px;
    border-top-left-radius: 300px;
}

.leaf1 {
    position: absolute;
    top: 400px;
    left: 80px;
}

.leaf2 {
    position:absolute;
    top: 175px;
    left: 80px;
}

.leaf3 {
    position:absolute;
    top: -50px;
    left: 80px;
}

#interests-button {
    position: absolute;
    top: 1100px;
    left: 50px;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    color: #5F9EA0;
    border: none;
}

.rectangle3 {
    position: relative;
    height: 500px;
    background-color: #B6D0E2;
    padding: 0px;
}

#career-title {
    position: absolute;
    color: #4169E1;
    font-family: "Times New Roman", times;
    text-shadow: 2px 2px 4px rgba(0,0,0.4);
    font-weight: 900;
    font-size: 72px;
    top: 60px;
    left: 50px;
}

.career-desc {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 1000px;
    font-size: 20px;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    color: #40826D;
}

.career-button {
    position: absolute;
    top: 355px;
    left: 50px;
    height: 60px;
    width: 250px;
    font-size: 25px;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    color: #5F9EA0;
    border: none;
}

#robot-button {
    border-radius: 50%;
    border: none;
}
